.MainPanel {
  background-color: var(--blue-6);
  padding-top: calc(var(--header-height) + 1rem);
  padding-bottom: 2rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: var(--transition);
  width: 100%;
  height: 100%;

  &.day {
    background-color: var(--blue-6);
    background: var(--gradient-7);
  }

  &.night {
    background: var(--gradient-8);
  }
}

.weatherInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  font-size: 8rem;
  position: relative;
  line-height: 1;
  text-align: center;
  margin-top: 0.5rem;

  &::after {
    content: "°";
    position: absolute;
    top: 1rem;
    right: -1.5rem;
    font-size: var(--font-size-8);
    opacity: 0.75;
  }
}

.condition {
  font-size: var(--font-size-5);
  color: var(--gray-1);
}

.date {
  font-size: var(--font-size-1);
  color: var(--gray-1);
  opacity: 0.5;
  margin-top: 0.25rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--blue-1);
  margin-block: 2rem;
  opacity: 0.25;
}

.blurbList {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
