.MoreIcon {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);

  span {
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background-color: var(--gray-1);
  }
}
